.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.code_field {
    font-family: inherit;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 12pt;
    color: #fff;
    background: transparent;
}

.code_field:focus {
    transition: 0.5s;
    font-weight: 100;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.label {
    top: 0;
    display: block;
    font-size: 12pt;
    color: #11998e;
    font-weight: 80;
}

.reglist {
    display: flex;
    flex-direction: column;
    font-size: 16pt;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.middle {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.binary {}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 12pt;
    background-color: #222222;
    color: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}