.fog {
    margin-left: 60%;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 40%;
    height: 100%;
}

.code_field {
    font-family: inherit;
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 12pt;
    color: #fff;
    padding: 7px 0;
    background: transparent;
}

.code_field:focus {
    transition: 0.5s;
    padding-bottom: 6px;
    font-weight: 100;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.code_label {
    position: absolute;
    top: 0;
    display: block;
    font-size: 12pt;
    color: #11998e;
    font-weight: 80;
}

.reglist {
    font-size: 16pt;
}

.left {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    min-height: 100px;
    font-size: 12pt;
    background-color: #222222;
    color: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}